.wrapper_cart {
  justify-content: space-around;
  align-items: flex-start;
  margin: 4rem;
  gap: 3rem;
  flex-flow: row wrap;
}
.wrapper_cart > .wrapper_items > .text-head {
  line-height: 1.5;
  color: var(--text-primary);
}
.wrapper_cart > .card-content {
  margin: 4rem 0;
}
.wrapper_cart > .card-content * {
  margin: 4px 0;
}

.wrapper_cart > .wrapper_items > .card_hr {
  max-width: 50rem;
}
.btn_order {
  width: 100%;
}

.btn_wrapper_hr input {
  width: 3rem;
}
.wrapper_price {
  flex-direction: column;
}
.wrapper_price div {
  justify-content: space-between;
}
.card > .modal_title > .title,
.card > .wrapper_price > .title {
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  text-align: center;
}

@media screen and (max-width: 64rem) {
  .wrapper_cart > .wrapper_items {
    order: 2;
  }
}
